
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="createData(data)" #data="ngForm" *ngIf="!isLoading" >
    <mat-vertical-stepper *ngIf="!authService.getUserNameFromLogin()[1]">
      <mat-step label="Step 1">
        <mat-form-field>
          <input matInput name="FirstName" ngModel type="text" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="LastName" ngModel type="text" placeholder="Last Name">
        </mat-form-field>
      </mat-step>
      <mat-step label="Step 1">
        <mat-form-field>
          <input matInput name="Age" ngModel type="number" placeholder="Age">
        </mat-form-field>
        <mat-form-field>
          <input  matInput name="Country" ngModel type="text" placeholder="Country">
        </mat-form-field>
      </mat-step>
    </mat-vertical-stepper>
    <button mat-raised-button color="accent" type="submit"  *ngIf="!authService.getUserNameFromLogin()[1]; else hide">Submit</button>
    <ng-template #hide> Profile Created </ng-template>
  </form>
</mat-card>
