<mat-toolbar color="primary">
  <span><a routerLink="/">SocialNetwork</a></span>
  <img src="http://www.transparentpng.com/thumb/team-work/team-work-free-cut-out-10.png" alt="logo" style="width:42px;height:42px;border:0;">
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <div class="dropdown">
        <button class="dropbtn" *ngIf="authService.getUserNameFromLogin()[1]; else tryThis"> {{ authService.getUserNameFromLogin()[1] }}
          <i class="fa fa-caret-down"></i>
        </button>
        <ng-template class="dropbtn" #tryThis>User Name</ng-template>
        <div class="dropdown-content">
          <a routerLink="/userprofile">Edit Profile</a>
        </div>
      </div>
    </li>
    <li *ngIf="userIsAuthenticated && authService.getUserNameFromLogin()[1]">
      <a mat-button routerLink="/chat" routerLinkActive="mat-accent">Chat</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
