
.header-right {
  float: right;
  background-color: #647daa;
}

a {
  background-color: #647daa;
  text-decoration: none;
  color: ivory;
}

.spacer{
  flex: 1 1 auto;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #647daa;
  font-family: Arial, serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-right{
  float:right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #647daa;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;

}

.dropdown-content a:hover {background-color: #647daa;}

.dropdown:hover .dropdown-content {
  display: block;
}

