<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Company<span>logo</span></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="/userprofile">Profile</a>
      ·
      <a href="/chat">Chat</a>

    </p>

    <p class="footer-company-name">ODAY Social Networking &copy; 2019</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Eli Wiesel 2 Street</span> Rishon LeTsiyon, Israel</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>052-602-0841</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@company.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Web Application Project By Dvir Barel, Alex Moshinsky, Orel Ezhakian and Yelena Sher.
    </p>

    <div class="footer-icons">

      <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/?lang=he"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/dvir156/MeanStackProject"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
