<body>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveStory()" *ngIf="!isLoading">
    <div>
      <button mat-stroked-button type="button" class="UploadImg" (click)="filePicker.click()">Upload</button>
      <input type="file" #filePicker (change)="onImageVideoPicked($event)">
    </div>
    <div class="imageVideo-preview" *ngIf="imageVideoPreview !== '' && imageVideoPreview && form.get('imageVideo').valid">
      <img [src]="imageVideoPreview" alt="storyUpload">
    </div>
    <button mat-raised-button color="accent" class="submitImg" type="submit">Save Post</button>
  </form>
</mat-card>
</body>

