mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 15rem;
  margin: 1rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image-preview img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.SaveStory{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.UploadStory{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Mat-card{
  height: 15%;
}
