
<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="text-center">Search for Weather:</h3>

      <form>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather</button>
        </div>

        <div class="weather">

        <a target="_blank" href="https://www.booked.net/weather/rishon-leziyyon-123440"><img src="https://w.bookcdn.com/weather/picture/4_123440_1_1_4782cf_202_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=w209&anc_id=27700"  alt="booked.net"/></a>
        </div>

      </form>

    </div>
    <div class="col-md-6"><h3 class="text-center">Weather Details:</h3></div>



  </div>
</div>
