<div class="form-group">
  <input  type="text" class="form-control" placeholder="Search Name"
          style="width:300px; border: 2px groove;
  border-radius: 4px;" [(ngModel)]="searchTermByName" />
  <input  type="text" class="form-control" placeholder="By Last Name"
          style="width:300px; border: 2px groove;
  border-radius: 4px;" [(ngModel)]="searchTermByLastName" />
  <input  type="text" class="form-control" placeholder="By Country"
          style="width:300px; border: 2px groove;
  border-radius: 4px;" [(ngModel)]="searchTermByCountry" />
</div>
<table mat-table [dataSource]="dataSource |NameFilter:searchTermByName|lastNameFilter:searchTermByLastName
|countryFilter:searchTermByCountry"
       class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let dataSource"> {{dataSource.firstName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let dataSource"> {{dataSource.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let dataSource"> {{dataSource.age}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let dataSource"> {{dataSource.countryName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-divider></mat-divider>
<mat-card>
GroupBy Places:
<ul>
  <li *ngFor="let object of dataSource | groupBy:'countryName'">{{ object.key }}</li>
</ul>
</mat-card>
<mat-divider></mat-divider>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
  <div style="display: block">
    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"></canvas>
  </div>
</div>
