<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:500" >
  <title></title>
</head>

<body>


<div class="form-group">
  <input  type="text" class="form-control" placeholder="Search Post"
          style="width:300px; border: 2px groove;
  border-radius: 4px;" [(ngModel)]="searchTermByName" />
  <input  type="text" class="form-control" placeholder="By Post Content"
          style="width:300px; border: 2px groove;
  border-radius: 4px;" [(ngModel)]="searchTermByContent" />
</div>
<mat-checkbox (click)="searchTermByimage = !searchTermByimage" checked="checked">include picture</mat-checkbox>
<div>
<button (click)="uploadStory=!uploadStory" class="Story-button">Add Story</button>
<app-story-create *ngIf="uploadStory"></app-story-create>
<app-story-list></app-story-list>
</div>
<mat-accordion *ngIf="findRecPost">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span style="color: red; ">Recommended Post</span>
    </mat-expansion-panel-header>
    {{recommendedPost.title}}
    <mat-divider></mat-divider>
    <div class="post-image">
      <img [src]="recommendedPost.imagePath" [alt]="recommendedPost.title">
    </div>
    {{recommendedPost.content}}
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel *ngFor="let post of posts | postNameFilter:searchTermByName|postContentFilter:searchTermByContent| postImageFilter:searchTermByimage" >
    <mat-expansion-panel-header (click)="onClickPost(post,userId)">
      {{ post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-divider></mat-divider>
    <p>Likes : {{ post.numOflikes}}</p>
    <div *ngIf="likedPost; else doesntLike">
      <button mat-button (click)="onLike(post,userId);onClickPost(post,userId)">Like</button>
    </div>
    <ng-template #doesntLike>
      <button mat-button (click)="onDislike(post,userId);onClickPost(post,userId)">Dislike</button>
    </ng-template>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
               *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>



</body>


